#
# CentOS/Redhat kickstart file
#
# To use:
#     linux text ks=http://10.0.2.2/ks62.cfg
#
# Tested on:
#     CentOS 6.2
#
# Installation made on VirtualBox. All %post tasks are specific
# to be used by vagrant (http://vagrantup.com).
#
# Marcus Vinicius Ferreira          ferreira.mv[ at ]gmail.com
# 2012-04
#

### install       # {
install

# iso:
#     CentOS-6.2-x86_64-bin-DVD1.iso
cdrom

lang en_US.UTF-8
keyboard us
timezone --utc America/Sao_Paulo

authconfig --enableshadow --enablemd5
bootloader
firstboot --disabled
firewall --disabled
selinux --disabled

# when install finishes: halt, poweroff, reboot
#reboot
# }
### Networking    # {
###
# VirtualBox
#
# adapter 1: VirtualBox NAT
network --hostname=centos62-ks --device eth0 --noipv6 --bootproto=dhcp --nameserver=4.2.2.1

# adapter 2: VirtualBox HOST-ONLY
# network --device eth1 --noipv6 --bootproto=static --ip=192.168.10.11 --netmask=255.255.255.0
# network --device eth1 --noipv6 --bootproto=dhcp --gateway=192.168.10.1 --nameserver=4.2.2.1
# }
### Root password # {
###     pass: vagrant
###
rootpw --iscrypted $1$S9h/NBG6$8uV30UelSDE9sWwBMTPyj.
# }
### Partitioning  # {
###

zerombr
bootloader --location=mbr --driveorder=sda
# pass: 1234
#     --md5pass=$1$DC60ir.p$eddfQFNYKoAJvjb36jQn0.

clearpart --linux --all --drives=sda

# 3 partitions: /boot + swap + lvm
#   part /boot --fstype ext3 --size=100 --ondisk=sda
#
#   # Phisical Volumes
#   part pv.27 --size=0 --grow --ondisk=sda
#
#   # Volume Groups
#   volgroup vg0 --pesize=32768 pv.27
#
#   # Logical Volumes
#   logvol swap --fstype swap --name=lv0 --vgname=vg0 --size=1024
#   logvol /    --fstype ext3 --name=lv1 --vgname=vg0 --size=7040

# 2 partitions: / + swap (8G)
    part swap --ondisk=sda --fstype swap --size=1027
    part /    --ondisk=sda --fstype ext3 --size=9209

# 2 partitions: / + swap (10G)
#   part swap --ondisk=sda --fstype swap --size=1024
#   part /    --ondisk=sda --fstype ext3 --size=9216

# 2 partitions: / + swap (20G)
#   part swap --ondisk=sda --fstype swap --size=2047
#   part /    --ondisk=sda --fstype ext3 --size=18426

# }

### Packages      # {
###    default: installed if package is selected
###    mandatory: always installed
%packages

### Group: core ### {
###
# core
# core: mandatory   # {
-acl
-attr
-audit
basesystem
bash
coreutils
cpio
cronie
dhclient
-e2fsprogs
filesystem
glibc
initscripts
iproute
iptables
-iptables-ipv6
iputils
-kbd
-ncurses
openssh-server
passwd
-policycoreutils
postfix
procps
-rhnsd
rootfiles
rpm
rsyslog
-selinux-policy-targeted
setup
shadow-utils
sudo
util-linux-ng
vim-minimal
yum
-yum-rhn-plugin
# }
# core: default   # {
-aic94xx-firmware
-atmel-firmware
-b43-openfwwf
-bfa-firmware
-efibootmgr
grub
-ipw2100-firmware
-ipw2200-firmware
-ivtv-firmware
-iwl100-firmware
-iwl1000-firmware
-iwl3945-firmware
-iwl4965-firmware
-iwl5000-firmware
-iwl5150-firmware
-iwl6000-firmware
-iwl6000g2a-firmware
-iwl6000g2b-firmware
-iwl6050-firmware
-kernel-firmware
-libertas-usb8388-firmware
-ql2100-firmware
-ql2200-firmware
-ql23xx-firmware
-ql2400-firmware
-ql2500-firmware
-rt61pci-firmware
-rt73usb-firmware
-xorg-x11-drv-ati-firmware
-zd1211-firmware
# }
# core: optional   # {
-dracut-fips
-dracut-network
-tboot
# }
### }
### Group: base ### {
###
# base
# base: default   # {
-abrt-addon-ccpp
-abrt-addon-kerneloops
-abrt-addon-python
-abrt-cli
-acpid
-b43-fwcutter
-biosdevname
-blktrace
-bridge-utils
-bzip2
-cpuspeed
-cryptsetup-luks
-dmraid
-dosfstools
-eject
ethtool
-fprintd-pam
-gnupg2
-hunspell
-hunspell-en
-irqbalance
-kexec-tools
-libaio
-lvm2
-man-pages
-man-pages-overrides
-mdadm
-microcode_ctl
-mlocate
-mtr
-nano
-ntp
-ntpdate
openssh-clients
-pam_passwdqc
-pcmciautils
-pinfo
-plymouth
-pm-utils
prelink
-rdate
-readahead
-rfkill
-rng-tools
-rsync
-setuptool
-smartmontools
-sos
-strace
-sysstat
-system-config-firewall-tui
-system-config-network-tui
-systemtap-runtime
-tcpdump
-tcsh
-time
-unzip
-usbutils
-vconfig
-vim-enhanced
-virt-what
-wget
which
-wireless-tools
-words
-xz
-yum-plugin-security
-yum-utils
-zip
# }
# base: mandatory   # {
-alsa-utils
-at
-authconfig
-bc
bind-utils
-centos-indexhtml
crontabs
-cyrus-sasl-plain
-dbus
-ed
file
logrotate
-lsof
-man
-ntsysv
-parted
-pciutils
-psacct
-quota
-setserial
tmpwatch
traceroute
# }
# base: optional   # {
-PyPAM
-audispd-plugins
-brltty
-cpufrequtils
-dos2unix
-dumpet
-ecryptfs-utils
-edac-utils
-genisoimage
-gpm
-kabi-yum-plugins
-kernel-doc
-logwatch
-mkbootdisk
-mtools
-ncurses-term
-nss_db
-oddjob
-pax
-python-dmidecode
-python-volume_key
-rsyslog-gnutls
-rsyslog-gssapi
-rsyslog-relp
-sgpio
-sox
-squashfs-tools
-star
-tunctl
-udftools
-unix2dos
-uuidd
-volume_key
-wodim
-x86info
-yum-plugin-aliases
-yum-plugin-changelog
-yum-plugin-downloadonly
-yum-plugin-tmprepo
-yum-plugin-verify
-yum-plugin-versionlock
-yum-presto
-zsh
# }
### }

### }


# vim:ft=cfg:foldlevel=0:foldmethod=marker:foldmarker={,}

